In [1]:
import googletrans
from googletrans import Translator

import os
from google.cloud import translate_v2 as translate

os.environ['GOOGLE_APPLICATION_CREDENTIALS']=r"C:\Users\Sathsara\Documents\Python Learning\Translation test\translationAPI\flash-medley-278816-b2012b874797.json"

In [6]:
# create a translator object
translator = Translator()

# use translate method to translate a string - by default, the destination language is english
translated = translator.translate('I am Sathsara Rasantha',dest='si')

# the translate method returns an object
print(translated)


# obtain translated string by using attribute .text
translated.text

Translated(src=gu, dest=si, text=ඊ ම්ම් sathasara rasanatha, pronunciation=ī mm sathasara rasanatha, extra_data="{'translat...")

'ඊ ම්ම් sathasara rasanatha'

In [2]:
import pandas as pd


translate_example = pd.read_json("example2.json")
translate_example

                                                data  version
0  {'title': 'University_of_Notre_Dame', 'paragra...      1.1
1  {'title': 'Beyoncé', 'paragraphs': [{'context'...      1.1
2  {'title': 'Montana', 'paragraphs': [{'context'...      1.1

In [3]:
contexts = []
questions = []
answers_text = []
answers_start = []
for i in range(translate_example.shape[0]):
    topic = translate_example.iloc[i,0]['paragraphs']
    for sub_para in topic:
        for q_a in sub_para['qas']:
            questions.append(q_a['question'])
            answers_start.append(q_a['answers'][0]['answer_start'])
            answers_text.append(q_a['answers'][0]['text'])
            contexts.append(sub_para['context'])   
df = pd.DataFrame({"context":contexts, "question": questions, "answer_start": answers_start, "text": answers_text})

df

,context,question,answer_start,text
0,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,515,Saint Bernadette Soubirous
1,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,188,a copper statue of Christ
2,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,279,the Main Building
3,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,381,a Marian place of prayer and reflection
4,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,92,a golden statue of the Virgin Mary
...,...,...,...,...
1172,When the U.S. entered World War II on December...,How many Montanans entered the miltary in the ...,176,"40,000-plus"
1173,When the U.S. entered World War II on December...,How many Montanans joined the military in the ...,279,"over 57,000"
1174,When the U.S. entered World War II on December...,About how many Montanans died in the war?,609,At least 1500
1175,When the U.S. entered World War II on December...,Who trained at the military grounds in Montana?,695,"First Special Service Force or ""Devil's Brigade,"""
1176,When the U.S. entered World War II on December...,Where were air bases built in Montana?,926,"Great Falls, Lewistown, Cut Bank and Glasgow"

In [4]:
import pandas as pd
data=pd.read_csv("G:\\Uni\\Final Year Research\\QA Dataset.csv")
data.head()
data=data.loc[400:500,:]
type(data)

pandas.core.frame.DataFrame

In [7]:
# make a deep copy of the data frame
df_si = data.copy()

# translate columns' name using rename function
df_si.rename(columns=lambda x: translator.translate(x).text, inplace=True)


df_si.columns=['Unnamed', 'Text', 'Questions', 'Answers']
df_si.columns
df_si=df_si.drop(['Unnamed'], axis=1)
df_si

,Text,Questions,Answers
400,Windows 8 introduced major changes to the oper...,['Who are Windows main operating system compet...,"[[{'text': 'Android and iOS', 'answer_start': ..."
401,At no more than 200 kilometres (120 mi) north ...,"['How wide is Swaziland in miles??', 'In terms...","[[{'text': '81 mi', 'answer_start': 75}], [{'t..."
402,"The English word ""translation"" derives from th...",['What Latin word does the English word transl...,"[[{'text': 'translatio', 'answer_start': 54}],..."
403,An airport is an aerodrome with facilities for...,['What is an aerodome with facilities for flig...,"[[{'text': 'airport', 'answer_start': 3}], [{'..."
404,Kievan Rus' begins with the rule (882–912) of ...,['What year was Kievan Rus became a territory?...,"[[{'text': '882', 'answer_start': 34}], [{'tex..."
405,The Super Nintendo Entertainment System (offic...,"['When was the SNES released in the US?', 'Whe...","[[{'text': '1991', 'answer_start': 248}], [{'t..."
406,"However, some scholars contest the idea of a P...",['Some scholars contest that there was only on...,"[[{'text': 'substrate language', 'answer_start..."
407,Tuvalu (i/tuːˈvɑːluː/ too-VAH-loo or /ˈtuːvəlu...,"['What is the previous name of Tuvalu?', 'In w...","[[{'text': 'Ellice Islands', 'answer_start': 8..."
408,The defined dogma of the Immaculate Conception...,['What is the Immaculate Conception a represen...,"[[{'text': 'original sin only', 'answer_start'..."
409,Namibia has free education for both Primary an...,['What is the cost of primary and secondary ed...,"[[{'text': 'free', 'answer_start': 12}], [{'te..."
410,"Russian (ру́сский язы́к, russkiy yazyk, pronou...","['What language sub-family is Russian in?', 'W...","[[{'text': 'East Slavic', 'answer_start': 86}]..."
411,The United States Air Force (USAF) is the aeri...,"['What is the USAF?', 'How many uniformed serv...",[[{'text': 'the aerial warfare service branch ...
412,Recent developments in LEDs permit them to be ...,['What type of atmosphere can LED lighting be ...,"[[{'text': 'environmental', 'answer_start': 54..."
413,"The term ""great power"" was first used to repre...",['What was the formalization of the division o...,"[[{'text': 'Treaty of Chaumont', 'answer_start..."
414,Birds (Aves) are a group of endothermic verteb...,['What is a group of endothermic vertebrates c...,"[[{'text': 'Birds', 'answer_start': 0}], [{'te..."
415,The Qing dynasty (Chinese: 清朝; pinyin: Qīng Ch...,"['What was the last Chinese dynasty?', 'When d...","[[{'text': 'Great Qing, or the Manchu dynasty'..."
416,The indigenous peoples of the Americas are the...,['Who are the indigenous people of the America...,[[{'text': 'pre-Columbian inhabitants of the A...
417,Red is the color at the end of the spectrum of...,"['What spectrum of light is red within?', 'Whi...","[[{'text': 'visible light', 'answer_start': 47..."
418,"Egypt (i/ˈiːdʒɪpt/; Arabic: مِصر‎ Miṣr, Egypti...","['What 2 continents meet at Egypt?', 'What lan...",[[{'text': 'Africa and southwest corner of Asi...
419,"Mosaic has a long history, starting in Mesopot...","['What millennium did Mosaic start?', 'What ki...","[[{'text': 'the 3rd millennium BC', 'answer_st..."
420,"The original Latin word ""universitas"" refers i...",['From what language does Universitas come fro...,"[[{'text': 'Latin', 'answer_start': 13}], [{'t..."
421,The priesthoods of public religion were held b...,['The members of what class were priests in an...,"[[{'text': 'elite', 'answer_start': 63}], [{'t..."
422,YouTube is a global video-sharing website head...,"['Where is Youtube headquartered? ', 'When was...","[[{'text': 'San Bruno, California, United Stat..."
423,Jefferson's metaphor of a wall of separation h...,['Who made a metaphor about a wall of separati...,"[[{'text': 'Jefferson', 'answer_start': 0}], [..."
424,Protestantism is a form of Christian faith and...,"['What type of faith is Protestantism?', 'Whos...","[[{'text': 'Christian', 'answer_start': 27}], ..."
425,Brasília (Portuguese pronunciation: [bɾaˈziljɐ...,"[""What is Brazil's capital?"", 'What region of ...","[[{'text': 'Brasília', 'answer_start': 0}], [{..."
426,Greece is a developed country with an economy ...,"['What type of country is Greece?', ""What perc...","[[{'text': 'developed', 'answer_start': 12}], ..."
427,Unlike in Westminster style legislatures or as...,['Does speaker of the House participate in dba...,"[[{'text': 'Typically, the Speaker does not pa..."
428,Armenians constitute the main population of Ar...,['Where do Armenians mostly live besides Armen...,"[[{'text': 'Nagorno-Karabakh Republic', 'answe..."
429,Jehovah's Witnesses is a millenarian restorati...,"['What are the Jehovah Witnesses?', 'What are ...",[[{'text': 'millenarian restorationist Christi...
430,"Dwight David ""Ike"" Eisenhower (/ˈaɪzənˌhaʊ.ər/...","[""What was Eisenhower's nickname?"", 'What was ...","[[{'text': 'Ike', 'answer_start': 14}], [{'tex..."
431,The Bronx /ˈbrɒŋks/ is the northernmost of the...,"['How many boroughs are in NYC?', 'Where is th...","[[{'text': 'five', 'answer_start': 47}], [{'te..."
432,It threatened the collapse of large financial ...,['What action in 2007 by national governments ...,"[[{'text': 'bailout of banks', 'answer_start':..."
433,"Portugal (Portuguese: [puɾtuˈɣaɫ]), officially...","['What ocean does Portugal border?', 'What oth...","[[{'text': 'Atlantic Ocean', 'answer_start': 2..."
434,Humanism is a philosophical and ethical stance...,['What can be seen as of essential importance ...,"[[{'text': 'human beings', 'answer_start': 87}..."
435,Earth was initially molten due to extreme volc...,"['The initial state of earth was what?', 'What...","[[{'text': 'molten', 'answer_start': 20}], [{'..."
436,A police force is a constituted body of person...,['What does the state want a police force to d...,"[[{'text': 'enforce the law, protect property,..."
437,Genocide has become an official term used in i...,"['The word ""genocide"" was unknown until what y...","[[{'text': '1944', 'answer_start': 110}], [{'t..."
438,"Saint-Barthélemy (French: Saint-Barthélemy, Fr...",['What country is Saint-Barthélemy a collectiv...,"[[{'text': 'France', 'answer_start': 232}], [{..."
439,"Tajikistan (i/tɑːˈdʒiːkᵻstɑːn/, /təˈdʒiːkᵻstæn...","['Where is Tajikistan located?', 'How many peo...","[[{'text': 'in Central Asia', 'answer_start': ..."
440,The University of Notre Dame du Lac (or simply...,['The school known as Notre Dame is known by a...,"[[{'text': 'University of Notre Dame du', 'ans..."
441,Anthropology is the study of humans and their ...,"['What is anthropology a study of?', 'What typ...","[[{'text': 'humans and their societies', 'answ..."
442,Montana i/mɒnˈtænə/ is a state in the Western ...,"['What is the states rank in size?', 'What is ...","[[{'text': '4th', 'answer_start': 370}], [{'te..."
443,"Punjab (Urdu, Punjabi: پنجاب, panj-āb, ""five w...","['What does Punjab mean?', 'How many provinces...","[[{'text': 'five waters', 'answer_start': 40}]..."
444,Richmond is located at the fall line of the Ja...,['How many miles east of Richmond is Williamsb...,"[[{'text': '44', 'answer_start': 57}], [{'text..."
445,"Among the vast varieties of microorganisms, r...","['Of the huge amount of microorganisms, how ma...","[[{'text': 'relatively few', 'answer_start': 4..."
446,Hunting is the practice of killing or trapping...,['What is the practice of killing or trapping ...,"[[{'text': 'Hunting', 'answer_start': 0}], [{'..."
447,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,"['What country is Kathmandu the capital of?', ...","[[{'text': 'Nepal', 'answer_start': 105}], [{'..."
448,Myocardial infarction (MI) or acute myocardial...,['What is the scientific name for blood flow?'...,"[[], [], [], [], []]"
449,"Before the 20th century, the term matter inclu...",['What did the term matter include after the 2...,"[[], [], [], [], []]"

In [8]:
translations = {}
for column in df_si.columns:
    # unique elements of the column
    unique_elements = df_si[column].unique()
    for element in unique_elements:
        # add translation to the dictionary
        translations[element] = translator.translate(element,dest='si').text
    


# modify all the terms of the data frame by using the previously created dictionary
df_si.replace(translations, inplace = True)

# check translation
df_si

,Text,Questions,Answers
400,වින්ඩෝස් 8 වින්ඩෝස් දැන් Android සහ iOS ඇතුළු ...,[ 'කවුද වින්ඩෝස් ප්රධාන මෙහෙයුම් පද්ධතිය තරඟකර...,"[[{ 'පෙළ' 'Android සහ iOS', 'answer_start': 20..."
401,දකුණු උතුරු හා කිලෝ මීටර් 130 (81 සැත) නැගෙනහි...,[ 'සැතපුම් ස්වාසිලන්තය කෙසේද පුරාම ව්යාප්ත වේ ...,"[[{ 'පෙළ': '81 සැත ',' answer_start ': 75}], [..."
402,"ඉංග්රීසි වචනය (ම trans- හා fero සිට එන තේරුම ""...",[ 'කුමක්ද ලතින් වචනය ඉංග්රීසි වචනය පරිවර්තනය ක...,"[[{ 'පෙළ' 'translatio', 'answer_start': 54}], ..."
403,මත්තල ගුවන් තොටුපොළ ගලවන්න හා ඉඩම් ගුවන් ගමන් ...,[ 'ගලවන්න හා ඉඩම් ගුවන් ගමන් සඳහා පහසුකම් සහිත...,"[[{ 'පෙළ' 'ගුවන් තොටුපොළ', 'answer_start': 3}]..."
404,Kievan RUS 'ඔහුගේ පාලනය නොව්ගොරොද් දකුණු සිට D...,[ 'Kievan RUS ක්රිස්තියානි ධර්මය හඳුන්වා කුමන ...,"[[{ 'පෙළ' '882', 'answer_start': 34}], [{ 'පෙළ..."
405,සුපිරි නින්ටෙන්ඩෝ එන්ටර්ටේන්මන්ට් ([ඇ] සුපිරි ...,[ 'මේ SNES එක්සත් ජනපදයේ නිදහස් කරන ලද්දේ කවදා...,"[[{ 'පෙළ' '1991', 'answer_start': 248}], [{ 'ප..."
406,"කෙසේ වෙතත්, සමහර උගතුන් යුගවල සිට-Euphratean භ...",[ 'දේ පමණක් එක් විය වී තිබෙන බව ඇතැම් විද්වතුන...,"[[{ 'පෙළ' 'උපස්ථරයක් භාෂාව', 'answer_start': 7..."
407,කලින් වසරේ දී එලිස් දූපත් ලෙස හඳුන්වන ටුවාලු (...,"[ 'කුමක්ද ටුවාලු යන පෙර නම ද?', 'වන සාගර දී ටු...","[[{ 'පෙළ' 'එලිස් දූපත්', 'answer_start': 84}],..."
408,මෙම නිර්මල පිළිසිදගැනීම ඇති අර්ථ ධර්ම පාඨයක් ප...,[ 'මරියා මෙය සිදුවීම වලක්වා ඇති විශ්වාස කරන ලද...,"[[{ 'පෙළ' 'මුල් පාපය පමණක්', 'answer_start': 5..."
409,නැමීබියාව ප්රාථමික සහ ද්විතීයික අධ්යාපනය මට්ටම...,[ 'කුමක්ද නැමීබියාවේ ප්රාථමික හා ද්විතීයික අධ්...,"[[{ 'පෙළ' 'නිදහස්', 'answer_start': 12}], [{ '..."
410,"රුසියානු (русский язык, russkiy yazyk, විශද [r...","[ 'කුමක්ද භාෂාව උප පවුලේ රුසියානු ද?', 'කෝ රුස...","[[{ 'පෙළ' 'නැගෙනහිර ස්ලාව් ජාතික', 'answer_sta..."
411,එක්සත් ජනපදයේ ගුවන් හමුදාව (USAF) එක්සත් ජනපදය...,"[ 'මෙහෙයුම් භාරව කුමක්ද?', 'කීයක් නිල ඇඳුමෙන් ...","[[{ 'පෙළ': 'answer_start' 'එක්සත් ජනපදය, සන්නද..."
412,LED මඟින් මෑත වර්ධනයන් පාරිසරික හා කාර්ය සාධක ...,[ 'වායුගෝලය කුමන ආකාරයේ LED හැකි ආලෝක භාවිතා ක...,"[[{ 'පෙළ' 'පාරිසරික', 'answer_start': 54}], [{..."
413,"""මහත් බලය"" යන වචනය මුලින්ම පශ්චාත් නැපෝලියානු ...",[ 'පළමු මහා බලවතුන්ගේ හිටි ද? පශ්චාත් නැපෝලියා...,"[[{ 'පෙළ' 'Chaumont ගිවිසුම', 'answer_start': ..."
414,පක්ෂීන් (Aves) පිහාටු මගින් සංලක්ෂිත තාප අවශෝෂ...,[ 'කුමක්ද තාප අවශෝෂක පෘෂ්ඨවංශීන් පිරිසක් පිහාට...,"[[{ 'පෙළ' 'පක්ෂීන්', 'answer_start': 0}], [{ '..."
415,කුයීන් (චීන: 清朝; පින්යින්: Qīng Cháo; වේඩ්-Gil...,[ '' එම Manchu පෙර පාලනය කළ රාජ වංශය? මොකක්ද '...,"[[{ 'පෙළ' 'මහා Qing, හෝ Manchu රාජ වංශය', 'ans..."
416,ඇමරිකාව ස්වදේශික ජනතාවට ඇමරිකාව පෙර කොළොම්බියා...,"[ 'ඇමරිකාව ආදිවාසීන් පැවත කවුද?', 'කතා කරන ස්ව...",[[{ 'පෙළ' 'ඇමරිකාව කලින් කොළොම්බියානු වැසියන්'...
417,රතු තැඹිලි හා ප්රතිවිරුද්ධ දම් ආලෝකය ඊළඟ දෘශ්ය...,"[, 'මොකක්ද වර්ණ අසල දෘශ්ය වර්ණාවලියේ රතු ඇත' ර...","[[{ 'පෙළ' 'දෘශ්ය ආලෝකය', 'answer_start': 47}],..."
418,"ඊජිප්තුවේ, (i / iːdʒɪpt /; අරාබි: مصر මිස්ර්, ...",[ 'කුමක්ද මහද්වීප 2 ඊජිප්තුව හමුවීමට?' 'ආසියාන...,[[{ 'පෙළ' 'අප්රිකාවේ සහ ආසියාවේ නිරිත දිග කෙළව...
419,විචිත්ර 3 වන සහස්රයේ දී මෙසපොතේමියාවේ ආරම්භ දි...,"[ 'මෝසෙස්ගේ කුමක්ද සහස්රයේ ආරම්භ කළේ?', 'වගේ ව...","[[{ 'පෙළ' '3 වන සහස්රයේ', 'answer_start': 54}]..."
420,"මුල් ලතින් වචනය ""universitas"" ""ආදිය, එකම ශරීරය...",[ 'භාෂාව සිට Universitas ආවේ කෙසේද?' '' 'කරුණු...,"[[{ 'පෙළ' 'ලතින්', 'answer_start': 13}], [{ 'ප..."
421,පොදු ආගමේ priesthoods ප්රභූව පන්ති සාමාජිකයන් ...,[ 'කුමක් පන්තියේ සාමාජිකයන් පැරණි රෝමයේ පූජකයන...,"[[{ 'පෙළ' 'ප්රභූ', 'answer_start': 63}], [{ 'ප..."
422,"යූ ටියුබ් සැන් බෲනෝ, කැලිෆෝනියා, එක්සත් ජනපදය ...","[ 'කොහේද Youtube මූලස්ථානය? ',' යූ ටියුබ් නිර්...","[[{ 'පෙළ' 'සැන් බෲනෝ, කැලිෆෝනියා, එක්සත් ජනපදය..."
423,වෙන්වීමේ පවුර ජෙෆර්සන් කරන ඒ එක්සත් ජනපද ශ්රේෂ...,[ 'කවුද වෙන්වීමේ බිත්ති ගැන ද විදහාපාන අගනා රූ...,"[[{ 'පෙළ' 'ජෙෆර්සන්', 'answer_start': 0}], [{ ..."
424,රෙපරමාදු රෙපරමාදු ප්රතිසංස්කරණය සමඟ බිහිවූ ක්ර...,"[ 'විශ්වාසය කුමන ආකාරයේ රෙපරමාදු ද?' ',' 'වරක්...","[[{ 'පෙළ' 'ක්රිස්තියානි', 'answer_start': 27}]..."
425,වෙනි සමුළුව බ්රසීලියාහි (පෘතුගීසි උච්චාරණය: [b...,"[ ""බ්රසීලයේ අගනුවර කුමක්ද? ',' Brasilia දී? වන...","[[{ 'පෙළ' 'වෙනි සමුළුව බ්රසීලියාහි', 'answer_s..."
426,ග්රීසියේ සේවය (82.8%) මත පදනම් වූ ආර්ථිකය සහ ක...,"[ 'රටේ වර්ගය කුමක්ද ග්රීසිය?', 'ග්රීසියේ ආර්ථි...","[[{ 'පෙළ' 'සංවර්ධනය', 'answer_start': 12}], [{..."
427,සකස්වුණ නීති හෝ සෙනේට් බහුතරයේ නායක ලෙස මෙන් න...,"[ 'සභාවේ මිනිසුන්ගේ කථානායක dbate සහභාගි?', 'න...","[[{ 'පෙළ' 'සාමාන්යයෙන්, කථානායක විවාදය සහභාගී ..."
428,ආර්මේනියානු ආර්මේනියාව සහ තත්වාකාර ස්වාධීන නගෝ...,[ 'කොහේද ආර්මේනියාව හැර ආර්මේනියානු බොහෝ දුරට ...,"[[{ 'පෙළ' 'නගෝර්නෝ-කරබක් සමූහාණ්ඩුව', 'answer_..."
429,යෙහෝවා දෙවිගේ සාක්ෂිකරුවන් ප්රධාන ධාරාවේ ක්රිස...,"[ 'යෙහෝවා සාක්ෂිකරුවන් මොනවාද?', '' දෙවි සාක්ෂ...",[[{ 'පෙළ' 'millenarian restorationist ක්රිස්ති...
430,"ඩ්වයිට් දාවිත් 'Ike ""අයිසන් හවර් (/aɪzənˌhaʊ.ə...",[ඉහළම තැනට (නිලය නොවේ) කුමක්ද දෙවන ලෝක යුධ සමය...,"[[{ 'පෙළ' 'Ike', 'answer_start': 14}], [{ 'පෙළ..."
431,බ්රොන්ක්ස් / brɒŋks / දකුණු වෙස්චෙස්ටර් පිහිටා...,"[ 'කීයක් යොවුන් සේනාංකයේ දී boroughs ද?', 'බ්ර...","[[{ 'පෙළ' 'පස්', 'answer_start': 47}], [{ 'පෙළ..."
432,එය ජාතික ආන්ඩු විසින් බැංකු ඇප දී බේරා ගැනීම ව...,[ 'විශාල මූල්ය ආයතන බිඳ වැටීම වළක්වා? ජාතික ආන...,"[[{ 'පෙළ' 'බැංකු ඇප', 'answer_start': 87}], [{..."
433,"පෘතුගාලය (පෘතුගීසි: [puɾtuɣaɫ]), නිල වශයෙන් පෘ...","[ 'සාගර පෘතුගාලය දේශ කරන්නේ කුමක්ද?', 'පෘතුගාල...","[[{ 'පෙළ' 'අත්ලාන්තික් සාගරය', 'answer_start':..."
434,"මානව හිතවාදී තනි තනිව හා සාමූහිකව, මානව වර්ගයා...",[ 'කුමක්ද මානවවාදයෙන් ක ප්රගුණ කිරීමට අත්යවශ්ය...,"[[{ 'පෙළ' 'මිනිසුන්', 'answer_start': 87}], [{..."
435,පොළොව මුලින්ම හේතුවෙන් අන්ත ගිනිකඳු හා අනෙකුත්...,"[ '? සඳ මහජන පොළොව සමාන කරන්නේ කොහොමද', 'කුමක්...","[[{ 'පෙළ' 'වාත්තු', 'answer_start': 20}], [{ '..."
436,"පොලිස් බලය නීතිය, රැකවරණය දේපළ හා සීමාව සිවිල්...",[ 'රාජ්ය කරන්න පොලිස් බලකායක් අවශ්ය ද? කුමක්ද'...,"[[{ 'පෙළ': 'answer_start' 'නීතිය, රැකවරණය දේපළ..."
437,වර්ග සංහාරය ජාත්යන්තර සබඳතා භාවිතා නිල කාලීන බ...,[ '' වර්ග සංහාරය 'යන වචනය කුමක් වසර වන තෙක් නො...,"[[{ 'පෙළ' '1944', 'answer_start': 110}], [{ 'ප..."
438,"Saint-බර්තලමි (ප්රංශ: ශාන්ත-බර්තලමි, ප්රංශ උච්...","[ 'Saint-බර්තලමි කවෙර්ද; ක්රෙග් කුමක්ද රටක්', ...","[[{ 'පෙළ' 'ප්රංශය', 'answer_start': 232}], [{ ..."
439,"ටජිකිස්තානය, (i / tɑːdʒiːkᵻstɑːn /, / tədʒiːkᵻ...","[ 'ටජිකිස්ථානය පිහිටා තිබෙන්නේ කොහේද?', 'ටජිකි...","[[{ 'පෙළ' 'මධ්යම ආසියාවේ', 'answer_start': 355..."
440,Notre ඩෑම් ඩු නායක ගුවන් භට (හෝ හුදෙක් Notre ඩ...,"[ 'Notre ඩෑම් ලෙස පාසල් වඩාත් දීර්ඝ නම, එය කුම...","[[{ 'පෙළ' 'Notre ඩෑම් ඩු විශ්ව', 'answer_start..."
441,මානව විද්යාව මිනිසුන් හා අතීත සහ වර්තමාන ඔවුන්...,"[ 'මොනවාද? මානව විද්යාව අධ්යයනය වේ', 'ලොව පුරා...","[[{ 'පෙළ' 'මිනිසුන් හා ඔවුන්ගේ සමිති', 'answer..."
442,මොන්ටානා i / mɒntænə / එක්සත් ජනපදයේ බටහිර කලා...,"[ 'ප්රාන්ත නිලය ප්රමාණය යනු කුමක් ද?', 'කුමක්ද...","[[{ 'පෙළ' '4 වන', 'answer_start': 370}], [{ 'ප..."
443,"පන්ජාබ් (හංගේරියානු, පන්ජාබ්: پنجاب, panj-AB, ...","[ 'කුමක්ද කරන්නේ පන්ජාබ් අදහස්?', 'කීයක් පළාත්...","[[{ 'පෙළ' 'පස් ජලය', 'answer_start': 40}], [{ ..."
444,රිච්මන්ඩ් Charlottesville සැතපුම් 66 (106 km) ...,[ 'සැතපුම් නැගෙනහිර රිච්මන්ඩ් කීයක් Williamsbu...,"[[{ 'පෙළ' '44', 'answer_start': 57}], [{ 'පෙළ'..."
445,", ක්ෂුද්ර ජීවීන් විශාල වර්ග එසේ සෞඛ්ය සම්පන්න ...",[ 'අන්තර් දේ ගැන සියලු බලැති ප්රතිඵල රෝගකාරක බ...,"[[{ 'පෙළ' 'සාපේක්ෂව', 'answer_start': 45}], [{..."
446,දඞයම ඕනෑම සත්ව ඝාතනය හෝ කොටු හෝ පසුපස හඹා හෝ එ...,[ 'කුමක්ද ඕනෑම සත්ව ඝාතනය හෝ රඳවා ගැනීමේ සිරිත...,"[[{ 'පෙළ' 'දඞයම', 'answer_start': 0}], [{ 'පෙළ..."
447,කත්මන්ඩු නුවර (/ ˌkɑːtmɑːnduː /; නේපාල උච්චාරණ...,"[ 'රටට කත්මන්ඩු? අගනුවර වන', 'කුමක්ද ඉන්දීය සභ...","[[{ 'පෙළ' 'නේපාලය', 'answer_start': 105}], [{ ..."
448,රුධිර ප්රවාහ හෘද වස්තුවේ සෛල වලට හානි සිදු හදව...,[ 'කුමක්ද රුධිර වහනය සඳහා විද්යාත්මක නාමය වන්න...,"[[], [], [], [], []]"
449,"20 වන සියවසේ පෙර, කාලීන වන කරුණ එතරම් ම ආලෝකය ...","[ 'මොන කාලීන කාරණය, 20 වන සියවසේ පසු ඇතුළත් කළ...","[[], [], [], [], []]"

In [9]:
df_si.to_csv(r'C:\Users\Sathsara\Documents\Python Learning\Translation test\translationAPI\3.csv', index = False)

In [100]:
data=pd.read_csv("G:\\Uni\\Final Year Research\\QA Dataset.csv")
data.head()
data=data.loc[500:800,:]

# make a deep copy of the data frame
df_si1 = data.copy()

# translate columns' name using rename function
df_si1.rename(columns=lambda x: translator.translate(x).text, inplace=True)


df_si1.columns=['Unnamed', 'Text', 'Questions', 'Answers']
df_si1.columns
df_si1=df_si1.drop(['Unnamed'], axis=1)
df_si1


translations = {}
for column in df_si1.columns:
    # unique elements of the column
    unique_elements = df_si1[column].unique()
    for element in unique_elements:
        # add translation to the dictionary
        translations[element] = translator.translate(element,dest='si').text
    


# modify all the terms of the data frame by using the previously created dictionary
df_si1.replace(translations, inplace = True)

df_si1

Empty DataFrame
Columns: [Text, Questions, Answers]
Index: []

In [58]:
df_si.Text

0    Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
1    Frédéric François Chopin (/ˈʃoʊpæn/; French pr...
Name: Text, dtype: object

In [69]:
data
data.columns=['Unnamed', 'Text', 'Questions', 'Answers']
data

,Unnamed,Text,Questions,Answers
0,0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,"['When did Beyonce start becoming popular?', '...","['in the late 1990s', 'singing and dancing', '..."
1,1,Frédéric François Chopin (/ˈʃoʊpæn/; French pr...,"[""What was Frédéric's nationalities?"", 'In wha...","['Polish and French', 'Romantic era', 'solo pi..."

In [92]:

dataframe=data.copy()
x=range(2)
y=['Unnamed', 'Text', 'Questions', 'Answers']
for i in x:
    for j in y:
       print(type(data.loc[i,j]))

<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'str'>

,Unnamed,Text,Questions,Answers
0,0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,"['When did Beyonce start becoming popular?', '...","['in the late 1990s', 'singing and dancing', '..."
1,1,Frédéric François Chopin (/ˈʃoʊpæn/; French pr...,"[""What was Frédéric's nationalities?"", 'In wha...","['Polish and French', 'Romantic era', 'solo pi..."

In [86]:
data1=pd.read_csv("C:\\Users\\Sathsara\\Documents\\Python Learning\\kc_house_data1.csv")
data1.loc[0,'bedrooms']=5
data1

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,5,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [10]:
view=pd.read_csv("C:\\Users\\Sathsara\\Documents\\Python Learning\\Translation test\\translationAPI\\first_try.csv")
view

,Text,Questions,Answers
0,බියොන්සේ Giselle නෝව්ල්ස්-කාටර් (/ biːjɒnseɪ /...,"[ 'විට Beyonce ජනප්රිය වෙමින් ආරම්භ කළේ?', 'ඇය...","[ '1990 අග භාගයේ දී', 'ගායන සහ නර්තන', '2003',..."
1,ෆෙඩ්රික් ෆ්රන්සුවා චොපින් යනු (/ ʃoʊpæn /; ප්ර...,"[ෆෙඩ්රික් පිටත්ව ගියා දේ වයස අවුරුදු ""මොන ෆෙඩ්...","[ 'පෝලන්ත හා ප්රංශ', 'ප්රේමාන්විත යුගය', 'ඒකල ..."

In [3]:
import pandas as pd
view2=pd.read_csv("C:\\Users\\Sathsara\\Documents\\Python Learning\\Translation test\\translationAPI\\2.csv")
view2

,Text,Questions,Answers
0,ටිබෙට් හා චීනයේ මින්ග් රාජවංශය (1368-1644) අතර...,[ 'වැන්ග් Jiawei හා Nyima Gyaincain? කවුද'],[ 'චීන මහා භූමි ප්රදේශයේ චීන විද්වතුන්']
1,මෙම අයි-පොඩ් අතේ ගෙන යා හැකි මාධ්ය ක්රීඩකයන් හ...,"[ 'මේ අයි-පොඩ් නිෂ්පාදනය කුමන සමාගම?', 'මුල් අ...","[ 'ඇපල්', 'ඔක්තෝබර් 23, 2001', 'තුනක්', 'එහා ම..."
2,බියොන්සේ Giselle නෝව්ල්ස්-කාටර් (/ biːjɒnseɪ /...,"[ 'විට Beyonce ජනප්රිය වෙමින් ආරම්භ කළේ?', 'ඇය...","[ '1990 අග භාගයේ දී', 'ගායන සහ නර්තන', '2003',..."
3,ෆෙඩ්රික් ෆ්රන්සුවා චොපින් යනු (/ ʃoʊpæn /; ප්ර...,"[ෆෙඩ්රික් පිටත්ව ගියා දේ වයස අවුරුදු ""මොන ෆෙඩ්...","[ 'පෝලන්ත හා ප්රංශ', 'ප්රේමාන්විත යුගය', 'ඒකල ..."
4,ටිබෙට් හා චීනයේ මින්ග් රාජවංශය (1368-1644) අතර...,[ 'වැන්ග් Jiawei හා Nyima Gyaincain? කවුද'],[ 'චීන මහා භූමි ප්රදේශයේ චීන විද්වතුන්']
...,...,...,...
94,1936 අගෝස්තු මස ආරම්භ වන රූපවාහිනී පද්ධති විස්...,"[ '' උසස් අර්ථ දැක්වීම ""යන යෙදුම මුලින්ම දේ වස...","[[{ 'පෙළ' '1936', 'answer_start': 95}], [{ 'පෙ..."
95,එය ඉන්ධන යන දෙකම සඳහා සහ ඉදිකිරීම් ද්රව්ය ලෙස ...,[ 'ගොඩ නැඟීමට දේවල් කිරීම සඳහා භාවිතා කරනු ලැබ...,"[[{ 'පෙළ' 'ඉන්ධන', 'answer_start': 49}], [{ 'ප..."
96,"සෝමාලියාවට (සෝමාලියානු: Soomaali, අරාබි: صومال...",[ 'භාෂාව පවුලේ සෝමාලියානු කවෙර්ද; කොටසක් යනු ක...,"[[{ 'පෙළ' 'කාලයකදී-ආසියාතික', 'answer_start': ..."
97,"යුරෝපීය ඉතිහාසයේ, මධ්යතන යුගයේ හෝ, මධ්යතන යුගය...","[ 'මැද යුගය ආරම්භ කළේ කුමන වන සියවසේ දී?', 'මධ...","[[{ 'පෙළ' '5', 'answer_start': 72}], [{ 'පෙළ' ..."
98,Phonology භාෂා ශබ්ද ක්රමානුකූලව සංවිධානය සමග අ...,"[ 'පිළිබඳ? ශාඛාවක් phonology කුමක්ද', 'පද්ධති ...","[[{ 'පෙළ' 'වාග් විද්යාව', 'answer_start': 25}]..."

In [11]:
view2.iloc[95,2]

"[[{ 'පෙළ' 'ඉන්ධන', 'answer_start': 49}], [{ 'පෙළ' 'සෙලියුලෝස්', 'answer_start': 136}], [{ 'පෙළ' 'වියෝජනයට', 'answer_start' : 207}], [{ 'පෙළ' 'සහයෝගය', 'answer_start': 482}], [{ 'පෙළ' 'පෝෂ්ය පදාර්ථ', 'answer_start': 592}]]"

In [12]:
contexts = []
questions = []
answers_text = []
answers_start = []
for i in range(view2.shape[0]):
    topic = view2.iloc[i,0]['paragraphs']
    for sub_para in topic:
        for q_a in sub_para['qas']:
            questions.append(q_a['question'])
            answers_start.append(q_a['answers'][0]['answer_start'])
            answers_text.append(q_a['answers'][0]['text'])
            contexts.append(sub_para['context'])   
df = pd.DataFrame({"context":contexts, "question": questions, "answer_start": answers_start, "text": answers_text})
df

TypeError: string indices must be integers

In [13]:
view2.to_json(r'C:\Users\Sathsara\Documents\Python Learning\Translation test\translationAPI\view2.json')

In [15]:
view3= pd.read_json("view2.json")
view3

,Text,Questions,Answers
0,ටිබෙට් හා චීනයේ මින්ග් රාජවංශය (1368-1644) අතර...,[ 'වැන්ග් Jiawei හා Nyima Gyaincain? කවුද'],[ 'චීන මහා භූමි ප්රදේශයේ චීන විද්වතුන්']
1,මෙම අයි-පොඩ් අතේ ගෙන යා හැකි මාධ්ය ක්රීඩකයන් හ...,"[ 'මේ අයි-පොඩ් නිෂ්පාදනය කුමන සමාගම?', 'මුල් අ...","[ 'ඇපල්', 'ඔක්තෝබර් 23, 2001', 'තුනක්', 'එහා ම..."
2,බියොන්සේ Giselle නෝව්ල්ස්-කාටර් (/ biːjɒnseɪ /...,"[ 'විට Beyonce ජනප්රිය වෙමින් ආරම්භ කළේ?', 'ඇය...","[ '1990 අග භාගයේ දී', 'ගායන සහ නර්තන', '2003',..."
3,ෆෙඩ්රික් ෆ්රන්සුවා චොපින් යනු (/ ʃoʊpæn /; ප්ර...,"[ෆෙඩ්රික් පිටත්ව ගියා දේ වයස අවුරුදු ""මොන ෆෙඩ්...","[ 'පෝලන්ත හා ප්රංශ', 'ප්රේමාන්විත යුගය', 'ඒකල ..."
4,ටිබෙට් හා චීනයේ මින්ග් රාජවංශය (1368-1644) අතර...,[ 'වැන්ග් Jiawei හා Nyima Gyaincain? කවුද'],[ 'චීන මහා භූමි ප්රදේශයේ චීන විද්වතුන්']
...,...,...,...
94,1936 අගෝස්තු මස ආරම්භ වන රූපවාහිනී පද්ධති විස්...,"[ '' උසස් අර්ථ දැක්වීම ""යන යෙදුම මුලින්ම දේ වස...","[[{ 'පෙළ' '1936', 'answer_start': 95}], [{ 'පෙ..."
95,එය ඉන්ධන යන දෙකම සඳහා සහ ඉදිකිරීම් ද්රව්ය ලෙස ...,[ 'ගොඩ නැඟීමට දේවල් කිරීම සඳහා භාවිතා කරනු ලැබ...,"[[{ 'පෙළ' 'ඉන්ධන', 'answer_start': 49}], [{ 'ප..."
96,"සෝමාලියාවට (සෝමාලියානු: Soomaali, අරාබි: صومال...",[ 'භාෂාව පවුලේ සෝමාලියානු කවෙර්ද; කොටසක් යනු ක...,"[[{ 'පෙළ' 'කාලයකදී-ආසියාතික', 'answer_start': ..."
97,"යුරෝපීය ඉතිහාසයේ, මධ්යතන යුගයේ හෝ, මධ්යතන යුගය...","[ 'මැද යුගය ආරම්භ කළේ කුමන වන සියවසේ දී?', 'මධ...","[[{ 'පෙළ' '5', 'answer_start': 72}], [{ 'පෙළ' ..."
98,Phonology භාෂා ශබ්ද ක්රමානුකූලව සංවිධානය සමග අ...,"[ 'පිළිබඳ? ශාඛාවක් phonology කුමක්ද', 'පද්ධති ...","[[{ 'පෙළ' 'වාග් විද්යාව', 'answer_start': 25}]..."